# Languages! They're cool
*.lm linguist-language=Lambda
*.md linguist-detectable=true
*.md linguist-documentation=false

# LF / CRLF settings
*.rs text eol=lf
*.toml text eol=lf
*.sh text eol=lf
*.ps1 text eol=crlf
*.bat text eol=crlf